<div id="pm_lastcomments">
	<!-- BEGIN pm_lastcomments -->
	<div class="lastcomments_comment" data-comment="{pm_lastcomments.ID}" data-user="{pm_lastcomments.USER_ID}">
		<a class="small bold floatRight hand" href="{EQDKP_CONTROLLER_PATH}{pm_lastcomments.ARTICLE_PATH}#comments"><i class="fa fa-newspaper-o icon-grey"></i></a>
		<div class="user-avatar-small user-avatar-border floatLeft">{pm_lastcomments.USER_AVATAR}</div>
		<div class="lastcomment_date small">{pm_lastcomments.USER_NAME}<br>{pm_lastcomments.DATE}</div>
		<div class="lastcomment_text"><p>{pm_lastcomments.TEXT}</p></div>
	</div>
	<!-- END pm_lastcomments -->
</div>